{% extends '../index_master.html' %}

{% block content %}
    <div class="right_col" role="main">
      {% if mostrar_boton %}
        <h1>Listado de Usuarios</h1>
        <a class="btn btn-primary" href="agregar" role="button">Agregar Usuario</a>
      {% else %}
        <h1>Listado de Usuarios</h1>
      {% endif %}
        <div class="table-responsive">
            <table class="table table-primary border-warning">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Fecha Registro</th>
                  <th scope="col">Editar</th>
                  {% comment %} <th scope="col">Eliminar</th> {% endcomment %}
                </tr>
              </thead>
              <tbody>
                {% for u in usuarios %}
                  <tr>
                      <th scope="row">{{ u.id_usr }}</th>
                      <td>{{ u.nombre_usr }}</td>
                      <td>{{ u.apellido_usr }}</td>
                      <td>{{ u.correo_usr }}</td>
                      <td>{{ u.telefono_usr }}</td>
                      <td>
                          {% if u.rol_usr == 1 %}
                              Administrador
                          {% elif u.rol_usr == 2 %}
                              Editor
                          {% elif u.rol_usr == 3 %}
                              Usuario
                          {% endif %}
                      </td>
                      <td>{{ u.fec_creacion_usr }}</td>
                      {% if u.rol_usr == 1 %}
                        <td><a>No editable</a></td>
                        {% comment %} <td><a>No se puede eliminar</a></td> {% endcomment %}
                      {% else %}
                        <td><a href="modificar/{{ u.id_usr }}"><i class="fa fa-user"></i></a></td>
                        {% comment %} <td><a href="eliminar/{{ u.id_usr }}"><i class="fa fa-trash"></i></a></td> {% endcomment %}
                      {% endif %}
                      
                  </tr>
              {% endfor %}

              </tbody>
          
              <caption>
                Usuarios
              </caption>
          
            </table>
          </div>
    </div>
{% endblock content %}