{% extends '../index_master.html' %}

{% block content %}
    <div class="right_col" role="main">
        <h1>Listado de Usuarios</h1> <a class="btn btn-primary" href="agregar" role="button">Agregar Usuario</a>
        <div class="table-responsive">
            <table class="table table-primary border-warning">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Fecha Registro</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Sit</td>
                    <td>Amet</td>
                    <td>Sit</td>
                    <td>Amet</td>
                    <td>Sit</td>
                    <td>Sit</td>
                    <td><i class="fa fa-user"></i></td>
                    <td><i class="fa fa-trash"></i></td>
                </tr>
              </tbody>
          
              <caption>
                Usuarios
              </caption>
          
            </table>
          </div>
    </div>
{% endblock content %}