{% extends '../index_master.html' %}

{% block content %}
    <div class="right_col" role="main">
        <h1>Listado de Usuarios</h1> <a class="btn btn-primary" href="agregar" role="button">Agregar Usuario</a>
        <div class="table-responsive">
            <table class="table table-primary border-warning">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Fecha Registro</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                {% for u in usuarios %}
                    <tr>
                        <th scope="row">{{u.id_usr}}</th>
                        <td>{{u.nombre_usr}}</td>
                        <td>{{u.apellido_usr}}</td>
                        <td>{{u.correo_usr}}</td>
                        <td>{{u.telefono_usr}}</td>
                        <td>{{u.rol_usr}}</td>
                        <td>{{u.fec_creacion_usr}}</td>
                        <td><a href="modificar"><i class="fa fa-user"></i></a></td>
                        <td><a href="eliminar"><i class="fa fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
              </tbody>
          
              <caption>
                Usuarios
              </caption>
          
            </table>
          </div>
    </div>
{% endblock content %}