{% extends 'index_master.html' %}
{% block content %}
{% load static %}
<link href="{% static '/FrWork/admin_lte/build/css/calc.css' %}" rel="stylesheet">
<script src="{% static '/FrWork/admin_lte/build/js/calc.js' %}"></script>
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>
<div class="right_col" role="main">
    <h1>Agregar Datos para el Cálculo {{ calculo }}</h1>
    <form id="datos-form" method="post">
        {% csrf_token %}        
        <div id="objeto-container">
            <div class="objeto-group">
                <label for="objeto">Objeto:</label>
                <input type="text" name="objeto" required>
                
                <label for="consumo_wh">Consumo (Wh):</label>
                <input type="number" name="consumo_wh" required>
                
                <label for="promedio_horas_diarias">Promedio Horas Diarias:</label>
                <input type="number" name="promedio_horas_diarias" required>
            </div>
        </div>
        <button type="button" class="btn-blue" id="add-btn" onclick="agregarObjeto()"><i class="fa fa-plus"></i></button>
        <button type="submit" class="btn-blue">Agregar</button>
    </form>
</div>

{% endblock %}
