{% extends 'index_master.html' %}

{% block content %}
  <!-- page content -->
  <div class="right_col" role="main">
    <!-- top tiles -->
    <h1>Ultimas noticias</h1>
    {% for datos in datos_publicaciones %}
      <a href="{% url 'detalle_publicacion' datos.publicacion.id_pblc %}">
        <div class="card fade-in">
          <div class="card-header">
            <h2>{{ datos.publicacion.titulo_pblc }}</h2>
          </div>
          <div class="card-body">
            <p>
              {% if datos.publicacion.cuerpo_pblc|length > 150 %}
                {{ datos.publicacion.cuerpo_pblc|slice:":150" }}...
              {% else %}
                {{ datos.publicacion.cuerpo_pblc }}
              {% endif %}
            </p>
          </div>
          <div class="card-footer text-muted">
            Publicado por: {{ datos.usuario.nombre_usr }} {{ datos.usuario.apellido_usr }} el {{ datos.publicacion.fec_creacion_pblc }}
          </div>
        </div>
      </a>
  {% endfor %}



  </div>
  <!-- /page content -->
{% endblock %}

